@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* 
critical points 
homescreen : 1030px
login : 820px
register : 940px
patint login : 840px
dashboard : 1200px
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --font-color: black;
  --font-color-light: #666666;
  --primary-color: #2563eb;
  --primary-light-color: rgb(235, 240, 250);
  --secondary-color: #af2f1e;
  --light-bg-color: #f5f5f5;
}

a {
  text-decoration: none;
  color: black;
}



header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px;
  width: 100%;
  background: var(--light-bg-color);
  height: 150px;
  margin-bottom: 40px;
}

main {
  width: 80%;
  margin: auto;
}

.sidebar{
  width: 325px;
  height: 100%;
  background: var(--light-bg-color);
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  z-index: 1;
}

.sidebar a i{
  font-size: 20px;
  margin-right: 10px;
}

.sidebar a{
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  color: var(--font-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar a:hover{
  background-color: var(--primary-color);
  color: var(--light-bg-color);
}

.sidebar a.active{
  background-color: var(--primary-color);
  color: var(--light-bg-color);
}

.logo{
    z-index: 1000;
}

.logo div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-icon {
  font-size: 35px;
  color: var(--primary-color);
}
.logo p {
  color: var(--font-color-light);
  font-size: 15px;
}

li {
  list-style: none;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card {
  width: 400px;
  height: 400px;
  background: var(--light-bg-color);
  text-align: center;
  padding: 30px;
  border-radius: 5px;
  border-bottom: 0.1px solid var(--primary-light-color);
}

.card div {
  margin-top: 40px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 80px;
  background: var(--primary-light-color);
  border-radius: 100%;
}
.card div i {
  font-size: 50px;
  color: var(--primary-color);
}

.card h2 {
  margin-bottom: 20px;
}
.card p {
  color: var(--font-color-light);
  line-height: 1.6;
}

.form-container {
  display: flex;
  align-items: center;
  width: 80vw;
  min-height: 60vh;
  margin: auto;
}
.patient-login .left {
  position: relative;
}

.left,
.right {
  width: 50%;
  min-height: 60vh;
  padding: 40px;
}
.left {
  position: relative;
}
.right {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.right h2 {
  margin-bottom: 30px;
  font-size: 35px;
}

.right input {
  width: 100%;
  outline: none;
  padding: 10px 20px;
  border: none;
  border-bottom: 1px solid var(--font-color-light);
  margin: 10px;
  font-size: 18px;
  transition: border-bottom 0.3s linear;
}

.right input::placeholder {
  color: var(--font-color-light);
}

.right input:focus {
  border-bottom: 2px solid var(--primary-color);
}

.patient-login .right input:focus {
  border-bottom: 2px solid var(--primary-color);
}

.right a, .right button {
  width: 100%;
  text-align: center;
  padding: 15px 20px;
  color: white;
  margin: 10px;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
}

.patient-login .right a {
  background-color: var(--primary-color);
}

.container{
  position: absolute;
  left: 400px;
}

.cards-container{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.visual-section{
  margin-top: 100px;
  display: flex;
  gap: 50px;
}

.visual-section h2{
  font-size: 30px;
  margin-bottom: 20px;
}

.dashboard-container h2{
  font-size: 40px;
  margin-bottom: 10px;
}

.dashboard-container p{
  color: var(--font-color-light);
}

.recent-notifcation-container{
  margin-left: 50px;
}
.recent-notifcation-container li{
  position: relative;
  margin-bottom: 20px;
}

.recent-notifcation-container li p{
  color: var(--font-color-light);
  margin: 5px 0px;
}

.recent-notifcation-container li::before{
  content: "";
  width: 10px;
  height: 10px;
  background: var(--primary-color);
  position: absolute;
  top: 5px;
  left: -25px;
  border-radius: 100%;
}

li.emergency::before{
  content: "";
  width: 10px;
  height: 10px;
  background: var(--secondary-color);
  position: absolute;
  top: 5px;
  left: -25px;
  border-radius: 100%;
}

.dashboard-card{
  background: var(--light-bg-color);
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.dashboard-card p{
  margin-bottom: 20px;
}

.dashboard-card p:last-child{
  color: var(--font-color-light);
  margin-top: 20px;
}

.dashboard-card p i{
  margin: 0px 20px;
}

.dashboard-card h3{
  font-size: 35px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  background: var(--light-bg-color);
}

.patient-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 40px;
}

.patient-card{
  width: 300px;
  background: var(--light-bg-color);
  padding-top: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.patient-card > div{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.profile-content{
  margin-bottom: 30px;
}

.profile-content > div > h2{
  font-size: 30px;
  margin-bottom: 10px;
}

.patient-card i {
  font-size: 30px;
  border: 1px solid black;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 20px;
}

.txt-light{
  color: var(--font-color-light);
}

.details-content{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.details-content > div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.details-content > div > p:last-child{
  font-weight: 600;
}

.missed-doses-text{
  color: var(--primary-light-color);
  background: var(--secondary-color);
  padding: 5px 15px;
  border-radius: 10px;
}

.view-profile-btn{
  display: inline-block;
  margin-top: 30px;
  padding: 15px 20px;
  background: var(--primary-color);
  color: white;
  border-radius: 5px;
  width: 90%;
  text-align: center;
}

.introPara{
  margin-bottom: 30px;
}

.introPara h2{
  margin-bottom: 10px;
  font-size: 30px;
}

.alert-card{
  background: var(--light-bg-color);
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  width: 70vw;
  padding: 20px;
}

.alert-card h3{
  font-size: 25px;
  margin-bottom: 10px;
}

.alert-card p{
  font-size: 13px;
}

.emergency-card{
  border: 2px solid var(--secondary-color);
  background: #fdfbfb;
}

.doses-missed-card{
  border: 2px solid var(--light-bg-color);
  background: var(--light-bg-color);
}

.alert-card > div{
  display: flex;
  align-items: center;
  gap: 20px;
}

.alert-card{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.alert-card:last-child{
  margin-bottom: 40px;
}

.alert-card button{
  border: none;
  outline: none;
  padding: 15px 20px;
  font-size: 16px;
  background: white;
  border: 2px solid var(--font-color-light);
  border-radius: 5px;
}

.fa-circle-info{
  color: var(--secondary-color);
  font-size: 30px;
}

.fa-signal{
  color: var(--primary-color);
  font-size: 30px;
}

.fa-thumbs-up{
  font-size: 30px;
  color: var(--primary-color);
}

.resolved-alert-text{
  background-color: var(--font-color-light);
  padding: 10px 20px;
  border-radius: 10px;
  color: white;

}